@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');

:root{
    --pale-dark-blue: #4C6C9C; 
    --dark-blue: #12317E; 
    --small-font: 14px;
    --large-font: 18px; 
}
h1,h2,h3,h4,h6,p{
    padding: 0;
    margin: 0;
}
h4,h5,h6{
    font-weight: 400;
    color:rgb(163, 195, 221);
}

html{
    min-height: 100%;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    font-size: var(--large-font);
    color: var(--pale-dark-blue);
}
body{
    background: url('./assets/landscape_bg.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: nowrap column;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

body>div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: rgba(82, 197, 255, 0.4);
}

.flex, .flex-row{
    display: flex;
    align-items: center;
    flex-flow: nowrap column;
}
.flex-row{
    justify-content: space-between;
    flex-direction: row;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

a{
    color: var(--pale-dark-blue);
}

.flexbox-center{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 80vh;
    max-width: 80%;
    min-width: fit-content;
    align-items: stretch;
    border-radius:  5px;
    overflow: hidden;
}

#left_container{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
    flex-grow: 1;
    padding: 36px;
    width: 30%;
}

img{
    width: clamp(40px, 50%, 80px ); 
    margin: 8px;
}

p{
    color: var(--pale-dark-blue);
    font-family: Raleway , sans-serif;
    word-wrap: normal;
    font-size: var(--small-font);
}

#login_container{
    background-color: white;
    display: flex;
    padding: 16px;
    flex-grow: 5;
    justify-content: center;
}
#sign-up-form, #login-form{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}

fieldset{
    display: flex;
    flex-flow: wrap row;
    border: none;
    padding: 0%;
    margin: 8px;
    width: 100%;
    appearance: none;
    justify-content: space-evenly;
    flex: 1 1 0;
}

fieldset>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap column;
    font-size: var(--small-font);
}

button{
    background-color: var(--dark-blue);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin: 24px 0px;
}

.button-text{
    padding: 4px 8px;
    margin: 0;
    background-color: white;
}

input{
    border-radius: 10px;
    border: solid var(--pale-dark-blue) 1px;
    padding: 3px 10px;
}

input:focus, input:valid{
    outline-color: var(--dark-blue);
}

input:invalid, input.invalid{
    outline-color: red;
    border-color: red;
}

footer{
    background-color: #12317E;
    margin-top: auto;
    box-sizing: border-box;
    height: 100%;
    padding: 8px;
    margin: auto;
    width: 100%;
}

footer>p{
    text-align: center;
    color: white;
}

/* Error text for form */

.password_container>p{
    color: red;
}

/* Login Page Styling */

#login-form{
    flex-grow: 0.5;
}

/* Dashboard Page Styling 321*/

.dashboard-body{
    padding: 0;
}

.grid-container{
    display: grid;
    box-sizing: border-box;
    grid: 100px 20px 5fr 0.1fr / 1fr;
}

.header , .header-2{
    background: url(./assets/Landscape-misty.jpg) no-repeat center center ;
    background-size: cover;
    grid-area: 1/1/3 /2;

}
.header-2{
    background: url(./assets/Landscape-2.jpg) no-repeat top center ;
    background-size:cover;
    background-position: 20% 30%;
}

.sidebar{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: clamp(150px,10%,100%);
    justify-content: start;
    gap: 32px;
    padding: 32px 8px 32px 8px;
    flex-grow: 1;
}

ul {
    padding: 0;
}

li{
    padding: 8px;
    list-style:none;
    font-weight: bold;
}

.main, .main-project{
    display: grid;
    padding: 16px;
    background-color: white;
    gap: 16px;
    flex-grow: 4;
    grid: min-content 0.1fr 1fr / 1.5fr 1fr;
}

.main>div>h1{
    text-align: left;
}

.main-content{
    grid-area: 2/1/4/2;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px 20px 0 0 ;

}
.main-header{
    grid-area: 1/ 1/ 1/3;
    padding: 16px;
}

.main-header div{
    margin-top: 16px ;
    display: flex;
    flex-wrap: wrap;
}

.main-container,.main-container-color{
    display: grid;
    gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-area: 2/1/3/2;
    align-items: stretch;
    justify-items: stretch;
}

.main-container div, .main-container-color div{
    background-color: rgb(43, 152, 255);
    display: grid;
    font-size: var(--large-font);
    padding: 24px 10px;
    max-width: 200px;
    border-radius: 10px;
    align-content: center;
    color: white;
}


.main-list{
    padding: 16px;
    grid-row: 3;
    display: grid;
    gap: 16px;
    grid-template-rows: min-content;
    align-content: start;
}

.container-outlined, #main-side-small .list-container > div {
    text-align: left;
    background-color: white;
    border: #12317E solid 1px;
    border-radius: 5px;
    padding: 16px;
}

.seperate-text{
    display: flex;
    justify-content: space-between;
}

#main-side {
    text-align: left;
    grid-area: 2/2/4/3;
}

.list-container{
    display: grid;
    gap: 16px;
    padding: 16px 0px;
}

.list-container>div{
    background-color: rgb(121, 210, 255);
    display: flex;
    border-radius: 10px;
    padding: 0px 8px;
}

.list-container div>div{
    flex-grow: 1;
    text-align: left;
    padding: 16px ;
    color: black;
    font-weight: bold;
}
.list-container div>div h4{
    color: var(--dark-blue);

}

/* project dashboard */

.main-project{
    grid: min-content 0.1fr 1fr / 1fr 1fr;
    text-align: left;
}

.main-container-side{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px ;
    border-radius: 8px;
    text-align: center;
    align-self: center;
    justify-self: center;
    grid-area: 2/2/3/3;
    width: 50%;
}

.main-container-side div *{
    color: var(--pale-dark-blue);
}

.main-container-color{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(50px,100px));
    color: #12317E;

}
.main-container-color div{
    max-width: 100px;
}

.main-container-color div:nth-child(2),.main-container-color div:nth-child(3){
    background-color: rgb(255, 191, 43);
    color: #12317E;
}
.main-container-color div:nth-child(3){
    background-color: rgb(130, 230, 228);
}

.container-small{
    background-color: rgb(209, 244, 244);
    padding: 16px;
}
.container-small *{
    color: var(--pale-dark-blue);
}

#main-side-small{
    text-align: left;
    grid-area: 3/2/4/3;
    padding: 16px;
}

#main-side-small .list-container div {
    align-items: start;
}


/* Setting Page */

#main-settings{
    display: flex;
    background-color: white;
    justify-content: start;
    flex-direction: column;
    flex-grow: 5;
}
@media only screen and (max-width: 600px) {
    .main{
        display: grid;
        padding: 16px;
        gap: 16px;
        flex-grow: 4;
        grid: min-content min-content 0.5fr / 100% ;
        grid-auto-rows: min-content;
    }
    .main-project{
        grid-template-columns: 1fr;
    }

    .main-list{
        grid-row: 4/4;
    }
    #main-side{
        grid-area: 3/1/3/1;
        overflow: visible;
    }


    .main-header{
        grid-area: 1/1/1/1;
    }
    .main-container-side{
        grid-area: 3/1/4/1;
    }
    #main-side-small{
        grid-area: 5/1/6/1;
    }
}